.characterList {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__titleList {
    padding-top: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
  }

  &__propertiesTitle {
    font-size: 1em;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-bottom: 2px solid white;
    margin: 0px 5px;
    padding: 10px 0px;
    width: 100px;
    height: 50px;
  }

  .characterList__listContainer {
    // max-height: 550px;
    overflow-y: auto;
  }

  &__list {
    margin: 5px 0px;
    display: flex;
    flex-wrap: wrap;
  }

  &__properties {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1em;
    font-weight: bold;
    width: 100px;
    height: 100px;
    margin: 5px;
    background-color: rgb(219, 38, 38);
    border-radius: 25px;
    border: 2px solid red; /* Default background color */
    transition: opacity 0.5s ease-in-out;
    opacity: 0; /* Initially hidden */

    &.green {
      background-color: rgb(96, 184, 96); /* Green background color */
      border: 2px solid green; /* Default background color */
      border-radius: 25px;
    }

    &.orange {
      background-color: rgb(231, 109, 28); /* Green background color */
      border: 2px solid rgb(223, 79, 13); /* Default background color */
      border-radius: 25px;
    }

    &.visible {
      opacity: 1; /* Visible with transition */
    }

    &.hidden {
      opacity: 0; /* Hidden */
    }

    .arrow {
      margin-left: 5px;
      font-size: 1.2em;
    }

    &.greater {
      background-image: url("../../assets/ArrowUp.png");
      background-size: contain;
      background-repeat: no-repeat;
    }

    &.lesser {
      background-image: url("../../assets/ArrowDown.png");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}
