.searchBarContainer {
  display: flex;
  // flex-flow: column;
  row-gap: 16px;
  justify-content: center;
  align-items: center;

  .wrapper {
    position: relative;
    width: 35%;

    .searchBar::placeholder {
      opacity: 0;
    }

    .searchBar {
      width: 100%;
      height: 60px;
      font-size: 1.2rem;
      padding: 10px;
      outline: none;
      border: 2px solid indigo;
      box-sizing: border-box;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      z-index: 1; /* Ensure input is on top */
    }

    label {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 1.2rem;
      color: gray;
      letter-spacing: 1px;
      transition: 0.3s;
      font-weight: 600;
      z-index: 0; /* Ensure label is behind input */
      pointer-events: none; /* Make sure label does not intercept click events */
    }

    .searchBar:focus + label,
    .searchBar:not(:placeholder-shown) + label {
      top: 0;
      font-size: 0.8rem;
      color: white;
      background: #893f8e;
      border-radius: 2px;
      padding: 0 7px; /* Add padding to match the design */
      z-index: 1; /* Bring label to front when active */
    }

    .searchBar:focus {
      border: 3px solid rgb(39, 5, 63);
    }
  }

  .infoBtn {
    @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");
    font-family: "IBM Plex Mono", monospace;
    position: relative;
    right: 4%;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border: none;
    font-size: 1em;
    font-weight: bold;
    margin-left: 5px;
    color: white;
    background-color: #893f8e;
    border: 1px solid #501e53;
    cursor: pointer;

    .hoverText {
      display: none;
      position: absolute;
      top: 30px; /* Adjust as needed */
      left: 50%;
      transform: translateX(-50%);
      background-color: #501e53;
      color: white;
      padding: 5px;
      border-radius: 3px;
      white-space: nowrap;
      z-index: 1;
    }

    &:hover .hoverText {
      display: block;
    }
  }
}

@media (max-width: 880px) {
  .searchBarContainer {
    width: 100%;

    .wrapper {
      width: 80%;
    }

    .infoBtn {
      right: 10.5%;
    }
  }
}

// @media (max-width: 600px) {
//   .searchBarContainer {
//     width: 100%;

//     .wrapper {
//       width: 80%;
//     }
//   }
// }
