.characterFetchContainer {
  width: 50%;
  min-height: 100vh;
  margin: auto;
  background-color: rgba(70, 38, 70, 0.959);
  // backdrop-filter: blur(2px);

  .characterFetch__title {
    text-align: center;
    padding: 50px 0px;
  }
}
