.filteredList {
  display: flex;
  justify-content: center;
  cursor: pointer;
  max-height: 200px;
  overflow-y: auto;

  &__list {
    width: 35%;
    font-size: 1.2em;
    list-style-type: none;
    overflow: hidden;
    overflow-y: scroll;
  }

  &__characterContainer {
    border-bottom: 1px solid white;
    padding: 5px;
    background-color: #501e53;
  }

  &__character {
    display: flex;
    align-items: center;
  }
}
