.filteredList {
  display: flex;
  justify-content: center;
  cursor: pointer;
  max-height: 250px;
  overflow-y: auto;

  &__list {
    width: 35%;
    font-size: 1.2em;
    list-style-type: none;
  }

  &__characterContainer {
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 5px;
    background-color: purple;
  }

  &__character {
    display: flex;
    align-items: center;
  }
}
